$content-desktop-large        = 1024px
$content-desktop-largest      = 60%
$site-top-margin              = 12px
$site-card-radius             = 8px
$site-buttom-shadow           = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$site-buttom-shadow-hover     = 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
$site-buttom-background-hover = rgba(100,154,182,0.902)
$font-family-kaiti            = 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', Lato, "PingFang SC", "Microsoft YaHei", sans-serif